<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Color</li>
    </ol>
</nav>

<br>
<br>

<form [formGroup]="colorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="colorName">Color Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="colorName" 
            placeholder="Enter a color.."
            formControlName="colorName"
        >
    </div>
    <div class="form-group">
        <label for="meaning">Meaning</label>
        <input 
            type="text" 
            class="form-control" 
            id="meaning" 
            placeholder="Assign a meaning to the color.."
            formControlName="meaning"
        >
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!colorForm.valid" style="background-color:rgb(71, 70, 70)">Submit</button>

</form>