<nav class="navbar navbar-dark bg-dark">
  <div class="navbar navbar-default">
    <ul>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="color/addColor">Add Color</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="zone/addZone">Add Zone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="zone/updateZone">Update Zone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="zone/deleteZone">Delete Zone</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>