<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete Zone</li>
    </ol>
</nav>

<br>
<br>

<form [formGroup]="getForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="zoneId">Zone ID</label>
        <input 
            type="number" 
            class="form-control" 
            id="zoneId" 
            placeholder="Enter the zone ID.."
            formControlName="zoneId"
        >
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!getForm.valid" style="background-color:rgb(71, 70, 70)">Get Details</button>
</form>

<br><br>

<div *ngIf = "isValid == true">
    <h2>Zone Name -> {{ zone.zoneName }}</h2>
    <h2>Zone Population -> {{ zone.zonePop }}</h2>
    <h2>Zone Color -> {{ zone.color.colorName }}</h2>
    <br>
    <button class="btn btn-primary" type="submit" (click)="onDelete()" style="background-color:rgb(71, 70, 70)">Delete Zone</button>
</div>



